<h1 class="my-4"> Dodaj nowego kierowcę </h1>

<%= form_for @driver do |form| %>
  <p>
    <%= form.label :name, "Imie" %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :surname, "Nazwisko" %><br>
    <%= form.text_field :surname %>
  </p>

  <p>
    <%= form.label :address, "Adres" %><br>
    <%= form.text_field :address %>
  </p>

  <p>
    <%= form.submit "Utwórz", class: "btn btn-success" %>
  </p>
<% end %>
